annotated-types==0.7.0
black==26.3.1
certifi==2026.2.25
cfgv==3.5.0
charset-normalizer==3.4.6
click==8.3.1
coverage==7.13.5
distlib==0.4.0
filelock==3.25.2
flake8==7.3.0
identify==2.6.18
idna==3.11
iniconfig==2.3.0
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
pathspec==1.0.4
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.0.2
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
python-discovery==1.2.1
python-dotenv==1.2.2
python-json-logger==3.2.1
pytokens==0.4.1
PyYAML==6.0.3
requests==2.33.0
six==1.17.0
SQLAlchemy==2.0.48
tenacity==9.1.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.2.0
google-cloud-storage==3.0.0
